parso==0.8.1
pycrypto==2.6.1
oauth2==1.9.0.post1
httplib2==0.17.4
Django==1.11.1
PyYAML==3.13
urllib3==1.23
requests==2.2.1
PyYAML==5.1
Django==1.7.1
ansible==2.8.8
Werkzeug==0.15.3
urllib3==1.25.2
Jinja2==2.10.1
Pygments==2.0.2
pandas==0.24.2
python-gnupg==0.4.3
PyJWT==0.4.2
rsa==3.4.2
requests==2.19.1
urllib3==1.24.2
Django==3.1
Pillow==7.1.0
pycrypto==2.4
tensorflow==1.14.0
Jinja2==2.7.2
Flask==0.11.1
feedparser==5.1.1
mercurial==4.8.2
buildbot==0.7.11
notebook==5.7.10
httplib2==0.12.0